.btnConfirm {
  box-sizing: border-box;
  height: 36px;
  background: #39c650;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 0px 16px;
  margin: 10px 0px;
}

.btnCancel {
  box-sizing: border-box;
  height: 36px;
  background: #b5b7b9;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 0px 16px;
  margin: 10px 0px;
}
