:host {
  #errorPage {
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #661f7a;
    flex-direction: column;

    #errorInner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        text-transform: uppercase;
        color: #397fc6;
      }

      .pesanError {
        width: 200px;
        margin: 0 auto 40px;
        background: #397fc6;
        color: #661f7a;
        font-size: 100px;
        line-height: 200px;
        -moz-border-radius-topleft: 75px;
        -moz-border-radius-topright: 75px;
        -webkit-border-top-left-radius: 75px;
        -webkit-border-top-right-radius: 75px;
        border-top-left-radius: 95px;
        border-top-right-radius: 95px;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        position: relative;
        animation-name: floating;
        -webkit-animation-name: floating;
        animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
      }

      @keyframes floating {
        0% {
          transform: translateY(0%);
        }

        50% {
          transform: translateY(8%);
        }

        100% {
          transform: translateY(0%);
        }
      }

      @-webkit-keyframes floating {
        0% {
          -webkit-transform: translateY(0%);
        }

        50% {
          -webkit-transform: translateY(8%);
        }
      }

      .balikHome {
        position: relative;
        margin: 20px auto;
        display: block;
        padding: 10px 15px 10px 15px;
        font-size: 30px;
        background: #397fc6;
        border: 0;
        color: #661f7a;
        border-radius: 3px;
        outline: none;
        width: 600px;
        height: 60px;
        cursor: pointer;
        transition: all 200ms ease;

        &:hover {
          background: rgba(#397fc6, 0.8);
        }
      }
    }
  }
}
