:host {
  display: flex;
  width: 100%;

  .reports-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
    flex-direction: column;

    .reports-header {
      background: #397fc6;
      padding: 10px 20px;
      display: flex;
      justify-content: center;

      h1 {
        color: white;
        text-align: center;
      }
    }

    .reports-content {
      padding: 10px 70px;

      .reports-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .options {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .filter {
            padding: 12px 20px 12px 40px;
            margin: 15px;
            box-sizing: border-box;
            border-bottom: 2px solid #ccc;
            font-size: 16px;
            background-image: url('https://www.w3schools.com/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            outline: none;
            width: 50%;
          }
          .filter:focus {
            border-bottom: 2px solid #397fc6;
          }

          ejs-datepicker {
            width: 15%;
            margin: 28px 10px 0 0;
            display: inline-block;
            .e-date-wrapper {
              border-bottom: 2px solid #ccc;
            }
          }

          .space {
            width: 15%;
          }
        }

        input {
          box-sizing: border-box;
          padding: 5px;
          width: 100%;
          border: 1px solid transparent;
          background: transparent;
          transition: all 300ms ease;
          color: darken(#808080, 10%);
          caret-color: darken(#808080, 10%);
        }

        .table-fill {
          background: white;
          border-radius: 3px;
          border-collapse: collapse;
          height: 80%;
          padding: 5px;
          width: 100%;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          animation: float 5s infinite;
        }

        th {
          color: #d5dde5;
          background: #1b1e24;
          border-bottom: 4px solid #9ea7af;
          border-right: 1px solid #343a45;
          font-size: 16px;
          font-weight: 100;
          padding: 10px;
          text-align: left;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          vertical-align: middle;
        }

        th:first-child {
          border-top-left-radius: 3px;
        }

        th:last-child {
          border-top-right-radius: 3px;
          border-right: none;
        }

        tr {
          border-top: 1px solid #c1c3d1;
          border-bottom: 1px solid #c1c3d1;
          color: #666b85;
          font-weight: normal;
          text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
        }

        tr:first-child {
          border-top: none;
        }

        tr:last-child {
          border-bottom: none;
          border-top: 2px solid #6e6e70;
        }

        tr:nth-child(odd) td {
          background: #ebebeb;
        }

        tr:last-child td:first-child {
          border-bottom-left-radius: 3px;
          font-weight: bold;
          color: #6e6e70;
        }

        tr:last-child td:last-child {
          border-bottom-right-radius: 3px;
        }

        td {
          background: #ffffff;
          padding: 10px;
          text-align: left;
          vertical-align: middle;
          font-weight: 300;
          text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
          border-right: 1px solid #c1c3d1;

          input:hover {
            border-bottom: 2px solid darken(#397fc6, 5%);
          }

          input:focus {
            outline: none;
            border-bottom: 2px solid darken(#397fc6, 5%);
          }
        }

        td:last-child {
          border-right: 0px;
        }

        th.text-left {
          text-align: left;
          white-space: nowrap;
        }

        th.text-center {
          text-align: center;
          white-space: nowrap;
          span {
            writing-mode: vertical-rl;
          }
        }

        th.text-right {
          text-align: right;
        }

        td.text-left {
          text-align: left;
          white-space: nowrap;
        }

        td.text-center {
          text-align: center;
        }

        td.text-right {
          text-align: right;
        }
      }
      .reports-options {
        display: block;
        height: 70px;
        width: 70px;
        position: fixed;
        right: 30px;
        bottom: 30px;

        .btn-share {
          display: flex;
          width: 70px;
          height: 70px;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          background: #397fc6;
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

          fa {
            font-size: 25px;
            color: white;

            &:hover {
              cursor: pointer;
            }
          }
          &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
              0 10px 10px rgba(0, 0, 0, 0.22);
          }
        }
      }
    }
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
