:host {
  .navmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    .navbar {
      height: 100vh;
      width: 70px;
      display: flex;
      flex-direction: column;
      background-color: #212121;

      .menu-item {
        color: white;
        margin: 0 auto 50px;

        &:first-child {
          margin-top: 50px;
        }

        a {
          color: white;

          &:visited {
            color: white;
          }
        }
      }
    }
    & ::ng-deep {
      .navbar {
        .menu-item {
          a {
            fa {
              i {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
    .navbar-expander {
      display: flex;
      flex-direction: column;
      width: 40px;
      height: 80px;
      background: #212121;
      -moz-border-radius: 0 100px 100px 0;
      -webkit-border-radius: 0 100px 100px 0;
      border-radius: 0 100px 100px 0;

      fa {
        margin: auto 0 auto 5px;
        font-size: 25px;
        color: white;
      }
    }
  }
}
