:host {
  display: flex;
  width: 100%;

  .products-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
    flex-direction: column;

    .products-header {
      background: #397fc6;
      padding: 10px 20px;
      display: flex;
      justify-content: center;

      h1 {
        color: white;
        text-align: center;
      }
    }

    .products-content {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
      flex-direction: column;

      .products-list {
        display: flex;
        height: 80%;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .filter {
          padding: 12px 20px 12px 40px;
          margin: 15px auto;
          width: 100%;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background-color: white;
          background-image: url('https://www.w3schools.com/css/searchicon.png');
          background-position: 10px 10px;
          background-repeat: no-repeat;
        }
      }

      .product-add {
        display: flex;
        height: 20%;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 50px;

        .btn-add {
          display: flex;
          width: 70px;
          height: 70px;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          background: #397fc6;

          fa {
            font-size: 25px;
            color: white;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
