:host {
  display: flex;
  width: 100%;

  .products-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
    flex-direction: column;

    .products-header {
      background: #397fc6;
      padding: 10px 20px;
      display: flex;
      justify-content: center;

      h1 {
        color: white;
        text-align: center;
      }
    }

    .products-content {
      padding: 10px 70px;

      .products-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .list {
          height: 100%;

          .filter {
            background-color: transparent;
            border: 0px;
            box-sizing: border-box;
            border-bottom: 2px solid #ccc;
            padding: 12px 20px 12px 40px;
            margin: 15px auto;
            width: 100%;
            box-sizing: border-box;
            font-size: 16px;
            background-image: url('https://www.w3schools.com/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            outline: none;
            transition: all 0.4s ease;
          }

          .filter:focus {
            border-bottom: 2px solid #397fc6;
          }
        }
      }

      .product-add {
        display: block;
        height: 70px;
        width: 70px;
        position: fixed;
        right: 30px;
        bottom: 30px;

        .btn-add {
          display: flex;
          width: 70px;
          height: 70px;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          background: #397fc6;
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

          fa {
            font-size: 25px;
            color: white;

            &:hover {
              cursor: pointer;
            }
          }
          &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
              0 10px 10px rgba(0, 0, 0, 0.22);
          }
        }
      }
    }
  }
}
