:host {
  display: flex;
  width: 100%;

  .product-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
    flex-direction: column;

    .product-header {
      background: #397fc6;
      padding: 10px 20px;
      display: flex;
      justify-content: center;

      h1 {
        color: white;
        text-align: center;
      }
    }
  }
}
