:host {
  .modal {
    border-radius: 4px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding: 10px 30px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    z-index: 1000;
  }
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .modal-background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
  }
}
