<div class="landing-container">
  <div class="landing-header">
    <h1>Kz Kiosco Managment</h1>
  </div>
  <div class="landing-content">
    <div>
      <div class="item">
        <button [routerLink]="['/reports']">
          <span>Reports</span>
          <fa name='address-card'></fa>
        </button>
      </div>
      <div class="item">
        <button [routerLink]="['/products']">
          <span>Products</span>
          <fa name='archive'></fa>
        </button>
      </div>
      <div class="item">
        <button [routerLink]="['/employees']">
          <span>Employees</span>
          <fa name='user'></fa>
        </button>
      </div>
      <div class="item">
        <button [routerLink]="['/information']">
          <span>Information</span>
          <fa name='info-circle'></fa>
        </button>
      </div>
    </div>
  </div>
</div>
