<div class="landing-container">
  <div class="landing-header">
    <h1>Kz Kiosco Managment</h1>
  </div>
  <div class="landing-content">
    <div>
      <div class="item">
        <button [routerLink]="['/Reports']">
          <span>Reports</span>
          <fa name='address-card'></fa>
        </button>
      </div>
      <div class="item">
        <button [routerLink]="['/Products']">
          <span>Products</span>
          <fa name='archive'></fa>
        </button>
      </div>
      <div class="item">
        <button [routerLink]="['/Employees']">
          <span>Employees</span>
          <fa name='user'></fa>
        </button>
      </div>
      <div class="item">
        <button [routerLink]="['/Information']">
          <span>Information</span>
          <fa name='info-circle'></fa>
        </button>
      </div>
    </div>
  </div>
</div>
