:host {
  display: flex;
  width: 100%;

  .employees-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
    flex-direction: column;

    .employees-header {
      background: #397fc6;
      padding: 10px 20px;
      display: flex;
      justify-content: center;

      h1 {
        color: white;
        text-align: center;
      }
    }

    .employees-content {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
      flex-direction: column;

      .employees-list {
        display: flex;
        height: 80%;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .list {
          height: 100%;

          .filter {
            background-color: transparent;
            border: 0px;
            box-sizing: border-box;
            border-bottom: 2px solid #ccc;
            padding: 12px 20px 12px 40px;
            margin: 15px auto;
            width: 100%;
            box-sizing: border-box;
            font-size: 16px;
            background-image: url('https://www.w3schools.com/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            outline: none;
            transition: all 0.4s ease;
          }

          .filter:focus {
            border-bottom: 2px solid #397fc6;
          }

          .tgl {
            display: none;

            + .tgl-btn {
              outline: 0;
              display: block;
              width: 4em;
              height: 2em;
              position: relative;
              cursor: pointer;
              user-select: none;
              &:after,
              &:before {
                position: relative;
                display: block;
                content: '';
                width: 50%;
                height: 100%;
              }

              &:after {
                left: 0;
              }

              &:before {
                display: none;
              }
            }

            &:checked + .tgl-btn:after {
              left: 50%;
            }
          }

          .tgl-light {
            + .tgl-btn {
              background: #f0f0f0;
              border-radius: 2em;
              padding: 2px;
              transition: all 0.4s ease;
              &:after {
                border-radius: 50%;
                background: #fff;
                transition: all 0.2s ease;
              }
            }

            &:checked + .tgl-btn {
              background: #9fd6ae;
            }
          }
        }
      }
      .employee-add {
        display: flex;
        height: 20%;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 50px;

        .btn-add {
          display: flex;
          width: 70px;
          height: 70px;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          background: #397fc6;

          fa {
            font-size: 25px;
            color: white;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
